[submodule "contrib/deterministic-build/electrumfair-icons"]
	path = contrib/deterministic-build/electrumfair-icons
	url = https://github.com/spesmilo/electrum-icons
[submodule "contrib/deterministic-build/electrumfair-locale"]
	path = contrib/deterministic-build/electrumfair-locale
	url = https://github.com/spesmilo/electrum-locale
