####-*.patch
*.pyc
*.swp
build/
dist/
*.egg/
contrib/pyinstaller/
ElectrumFair.egg-info/
electrumfair/gui/qt/icons_rc.py
locale/
.devlocaltmp/
*_trial_temp
packages
env/
.tox/
.buildozer/
bin/
/app.fil

# tox files
.cache/
.coverage

# kivy atlas
gui/kivy/theming/light-0.png
gui/kivy/theming/light.atlas
