####-*.patch
*.pyc
*.swp
build/
dist/
*.egg/
/electrum.py
contrib/pyinstaller/
ElectrumFair.egg-info/
gui/qt/icons_rc.py
locale/
.devlocaltmp/
*_trial_temp
packages
env/
.tox/
.buildozer/
bin/
.project
.pydevproject
.settings/

# tox files
.cache/
.coverage

# kivy atlas
gui/kivy/theming/light-0.png
gui/kivy/theming/light.atlas
