# If you want electrumfair to appear in a linux app launcher ("start menu"), install this by doing:
# sudo desktop-file-install electrumfair.desktop

[Desktop Entry]
Comment=Lightweight FairCoin Client
Exec=electrumfair %u
GenericName[en_US]=ElectrumFair
GenericName=ElectrumFair
Icon=electrum
Name[en_US]=Electrum FairCoin Wallet
Name=Electrum FairCoin Wallet
Categories=Network;
StartupNotify=false
Terminal=false
Type=Application
MimeType=x-scheme-handler/faircoin;

