# Configuration file for the Electrum client
# Settings defined here are shared across wallets
#
# copy this file to /etc/electrumfair.conf if you want read-only settings

[client]
server = electrum.faircoin.world:51812:s
proxy = None
gap_limit = 5
# booleans use python syntax
use_change = True
gui = qt
num_zeros = 2
# default transaction fee is in Satoshis
fee = 1000000
winpos-qt = [799, 226, 877, 435]
